.container {
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 0 1.5rem;
  flex-direction: column;
  margin: 0 auto;
}

@media (min-width: 500px) {
  .container {
    width: 500px;
    max-width: 500px;
    min-width: 500px;
    margin: 0 auto;
  }
}

.container p {
  margin: 0;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.column_center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row_center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.filler {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
  width: 100%;
  height: 3rem;
  border-radius: 5px;
  border: 0;
  padding: 0 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.button {
  width: 100%;
  height: 3rem;
  border-radius: 5px;
  border: 0;
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background: -webkit-linear-gradient(#eb0093, #6a00a9);
  color: #fff;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.button:hover,
.button:focus,
.button:active {
  opacity: 80%;
}

.gradientText0 {
  background: -webkit-linear-gradient(#bfa3da, #84309c, #c735b0);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradientText1 {
  background: -webkit-linear-gradient(#a79af9, #7aa8d2);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradientText2 {
  background: -webkit-linear-gradient(#bfa3da, #743f93);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradientText3 {
  background: -webkit-linear-gradient(#c35ab1, #e9a8d9);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
  text-decoration-color: #84309c;
}

.title {
  line-height: 1.15;
  font-size: 4rem;
  margin: 0.5rem 0;
}

.logo {
  width: 5rem;
  margin-right: 1.5rem;
  margin-top: 0.25rem;
}

.title,
.description {
  text-align: left;
}

.divider {
  width: 100%;
  border: 1px solid #222;
  margin: 1rem 0;
}

.connect {
  margin-bottom: 2rem;
}

.label {
  font-size: 1rem;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #555;
  border-radius: 5px;
  padding: 0.5em;
  font-size: 1.1rem;
}

.grid {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background-color: #131313;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 440px;
  overflow: none;
  border: none;
}

.cardText {
  padding: 1rem;
}

.card img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 4px 4px 0 0;
  margin-bottom: 12px;
  border: none;
}

.card:hover,
.card:focus,
.card:active {
  background-color: #272c34;
  opacity: 80%;
}

.card h2 {
  margin: 0 0 0.75rem 0;
}

.card p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.75;
}

@media (max-width: 768px) {
  .header {
    margin-left: 0;
  }
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .title {
    font-size: 3rem;
    line-height: 1.15;
  }
  .logo {
    width: 4em;
    margin-right: 1rem;
  }
}

.card,
.footer {
  border-color: #222;
}

.logo img {
  filter: invert(1);
}
